:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    text-align: center;
}

.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 500px;
}

.gitlab-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#gitlab-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

a {
    text-decoration-line: none;
}

.explainer {
    max-width: 800px;
}

.buttons-box {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.box {
    width: 300px;
    height: 300px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.box > .text {
    border-top: 1px solid #eee;
}

.box > .text > p {
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.box > .img-box {
    flex: 1;
    display: flex;
}

.box > .img-box img {
    max-width: 80%;
    max-height: 200px;
    margin: auto;
}

#cli-logo {
    max-height: 60px;
}

.box:hover {
    border-color: #ddd;
    background-color: #eeeeee;
}

@media(max-width: 600px) {
    #logo {
        margin-top: 50px;
        width: 250px;
    }

    #gitlab-logo {
        width: 30px;
        height: 30px;
    }

    h1 {
        font-size: 18px;
    }
    
    .explainer {
        font-size: 14px;
    }

    .buttons-box {
        flex-direction: column;
    }
}
